
@{
    ViewData["Title"] = "Home Page";
    List<Student> s = Model;
    IQueryable<Student> _students = s.AsQueryable();
    s = _students.Select(x => x).OrderByDescending(x => x.Gpa).ThenByDescending(x => x.LastName).ToList();
}

<div class="text-center">
    <h1 class="display-4">Student board</h1>
    <p class="lead">Here you can view scores of every student</p>
    <h2 class="display-4">Students ordered by GPA</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>GPA</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Student student in s)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Gpa</td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Register" asp-controller="Home">Add student</a>
</div>